body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #B0E0E6;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(117 190 218);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
}

select {
    height: 38px;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
